.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    

    height: 55px;
width: 375px;
left: 0px;
top: 0px;
border-radius: 0px;
background-color: #3C3A39;
    }

.bar1, .bar2, .bar3{
    width: 20px;
    height: 3px;
    margin: 3px 0px;
    background-color: white;
    margin-right: 20px;
}

#profileName{
    color: white;
    padding-top: 8px;
    margin-left: 20px;
    font-size: 18px;
}
#greetText{
    position: static;
    width: 327;
    height: 124px;
    left: 24;
    top: 120px;

    font-family: Crete Round;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;

    letter-spacing: 0.37px;
    color: #FF6B00;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;

    position: absolute;
    width: 375px;
    height: 590px;
    letter-spacing: 0px;
    top: 55px;

    background: #1C1A19;
}